/* Estilos para o corpo da página */
@import url(styles/header.css);
@import url(styles/pop_up.css);
@import url(styles/lista.css);
@import url(styles/conteudo.css);
@import url(styles/informativo.css);


:root{
    border: 10px;
    color: white;
   --cor-azul-de-fundo: rgba(22, 8, 104, 0.3);
    
}

body {
    background-image: url(imagens/fachada.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 66, 52, 0.8); /* Cor semitransparente (aqui é branco com 50% de transparência) */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
}

