.informativo {
  flex: 1; /* Ambos ocupam a mesma largura disponível */
  height: 200px; /* Adicione "px" para definir a altura */
  overflow: hidden; /* Ou outro valor, como "scroll" ou "auto" */
  padding: 10px;
  border: 3px solid #b5ad06;
  border-radius: 20px;
}

.informativo__texto {
  width: 100%; /* Garante que o texto ocupe toda a largura da div informativo */
  margin-bottom: 10px; /* Adiciona margem na parte inferior do texto */
  font-size: 18px;
  text-align: center;

}
.informativo__dica{
  font-size: 15px;
  text-align: center;
}

.informativo .imagem-container {
  flex-basis: calc(100% - 5px); /* Define a largura de cada imagem-container (50% do espaço disponível, menos a margem) */
  margin-bottom: 10px; /* Adiciona margem na parte inferior das linhas de imagens */
}

.informativo .imagem-container img {
  max-width: auto; /* Define a largura máxima das imagens dentro dos containers */
  height: auto; /* Mantém a proporção da imagem */
  width: 48%
}
